@import url(./reset.css);
@import url(./variables.css);

#app {
  height: 100vh;
  width: 100%;
}

/*================================
            HEADER
=================================*/

header {
  position: relative;
  z-index: 2;
}

.logo {
  display: flex;
  position: absolute;
  top: 20px;
  left: 20px;
  height: clamp(1.5em, 2.5vw, 3.5em);
}

/*================================
            MAIN
=================================*/

main {
  align-content: center;
  z-index: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image:
    linear-gradient(rgba(24, 18, 44, 0.65), rgba(24, 18, 44, 0.65)),
    url(/src/assets/img/portailDevv2.jpg);
  height: 100vh;
  background-color: var(--primary-color);
  inset: 0;
  padding: 0 20px 0 20px;
}

/*----------HERO----------*/

.hero {
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: var(--color-text);
  text-align: center;
  justify-content: center;
}

h1 {
  font-size: clamp(2.1em, 5vw, 6em);
}

.devconnect {
  color: var(--color-gras);
}

h2 {
  font-size: clamp(1.8em, 4vw, 5em);
}

.hero p {
  font-size: clamp(1.5em, 2.5vw, 3.5em);
}

.hero__button {
  text-decoration: none;
  font-size: clamp(1.5em, 2.5vw, 3.5em);
  border-radius: 15px;
  border: 1.5px solid var(--border-color);
  background-color: var(--color-bg-logo);
  padding: 15px 30px;
  text-align: center;
  width: fit-content;
  display: flex;
  align-self: center;
}

.hero__button:hover {
  background-color: var(--color-bg-logo-hover);
  transition: all 300ms;
}

/*----------DOMAINS----------*/

.all__domains {
    text-align: center;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  position: absolute;
  bottom: 50px;
  right: 20px;
 
}

.all__domains p {
  font-size: clamp(1em, 1.5vw, 1.5em);
  font-weight: bold;
  font-family: var(--text-kodeMono);
  
}

#typed-domain {
   color: var(--color-gras);
}

/*================================
            FOOTER
=================================*/

.footer {
  font-size: 0.9em;
  display: flex;
  text-align: center;
  justify-self: center;
  position: absolute;
  bottom: 10px;
}

/*================================
            RESPONSIVE
=================================*/

/* tablette */
@media (width > 884px) and (width <= 1024px) {
  main {
    background-position: 70% center;
  }
}

/* téléphone */

@media (width <= 884px) {
  main {
    background-position: 65% center;
  }

  .all__domains {
    bottom: 50px;
    flex-direction: column;
  }
}